body
{
    margin : 0px;
    padding: 0px;
    background-color:black
}

.text 
{
    position: fixed;
    color: white;
    font-size: 5vw;
    text-align: center;
    opacity:0;
    transition: all 0s linear;
    visibility: hidden;
    font-family: arial, sans-serif
}

#text1 
{
    padding-left: 20vw;
    padding-top: 30vh;
}
#text2
{
    padding-left:40vw;
    padding-top:40vh
}
