body
{
    margin : 0px;
    padding: 0px;
    background-color:black
}

.text 
{
    position: sticky;
    color: white;
    font-size: 5vh;
    text-align: center;
    opacity:0;
    transition: all 0s linear;
    visibility: hidden;
    font-family: arial, sans-serif
}

#text1 
{
    padding-left:5vw;
    width: 90vw;
    padding-top: 27vh;
    height: 8vh;
}
#text2
{
    width:10vw;
    padding-left:45vw;
    padding-top:10vh;
    height:10vh;
    /*transition: padding 2s ease-in-out, color 1s ease-in-out;*/
}
